<section class="filter fadein animation3">
  <div class="select-boxen">
    <select class="filter-select">
      <option value="">Studiengang</option>
      <option value="mib">Medieninformatik B.Sc.</option>
      <option value="omb">OnlineMedien B.Sc.</option>
      <option value="mkb">Medienkonzeption B.A.</option>
      <option value="mdb">Musikdesign B.Mus.</option>
      <option value="mim">Medieninformatik M.Sc.</option>
      <option value="dimm">Design Interaktiver Medien M.A.</option>
      <option value="mdm">MusicDesign M.A.</option>
    </select>

    <select class="filter-select">
      <option value="">Semester</option>
      <option value="1sb">1. Semester Bachelor</option>
      <option value="2sb">2. Semester Bachelor</option>
      <option value="3sb">3. Semester Bachelor</option>
      <option value="4sb">4. Semester Bachelor</option>
      <option value="5sb">5. Semester Bachelor</option>
      <option value="6sb">6. Semester Bachelor</option>
      <option value="7sb">7. Semester Bachelor</option>
      <option value="1sm">1. Semester Master</option>
      <option value="2sm">2. Semester Master</option>
      <option value="3sm">3. Semester Master</option>
    </select>

    <select class="filter-select">
      <option value="">Art des Projektes</option>
      <option value="projektstudium">Projektstudium</option>
      <option value="freiearbeit">Freie Arbeit</option>
      <option value="kooperation">Kooperation</option>
      <option value="bachelorthesis">Bachelor Thesis</option>
      <option value="masterthesis">Master Thesis</option>
      <option value="kursleistung">Kursleistung</option>
    </select>

    <select class="filter-select">
      <option value="">Bereich</option>
      <option value="webdesign">Web Design</option>
      <option value="videoproduktion">Video Produktion</option>
      <option value="audioproduktion">Audio Produktion</option>
      <option value="fotografie">Fotografie</option>
      <option value="musik">Musik</option>
      <option value="animation">Animation</option>
      <option value="gamedesign">Game Design</option>
      <option value="printdesign">Print Design</option>
      <option value="marketing">Marketing</option>
      <option value="interfacedesign">Interface Design</option>
      <option value="informatik">Informatik</option>
      <option value="virtualreality">Virtual Reality</option>
    </select>
  </div>

  <div id="filter-auswahl" class="filter-auswahl"></div>
</section>
