<section class="filter">
  <div class="select-boxen campus-filter">
    <select class="filter-select">
      <option value="">Kategorie</option>
      <option value="lebensgefuehl">Lebensgefühl</option>
      <option value="sport">Sport</option>
      <option value="nightlifepartys">Nightlif & Partys</option>
      <option value="ausflugsziele">Ausflugsziele</option>
      <option value="events">Events</option>
      <option value="essentrinken">Essen & Trinken</option>
      <option value="kultur">Kultur</option>
    </select>
  </div>

  <div id="filter-auswahl" class="filter-auswahl"></div>
</section>
