<header>
  <div class="inhalt">

    <!-- Logo des Blogs -->


    <!-- Hauptnavigation -->
    <nav>
      <a class="blog-logo" href="/"><img alt="blog logo digitale medien" src="typo3conf/ext/template/img/blog-logo.svg" /></a>
      <f:cObject typoscriptObjectPath="mainmenu" />
    </nav>

    <!-- Logo der HFU -->
    <div class="hfu-logo"><a href="http://www.hs-furtwangen.de/" target="_blank"><img src="typo3conf/ext/template/img/hfu-logo.svg" alt="logo der Hochschule Furtwangen."/></a></div>

  </div>

  <!-- Responsive Menü Icon -->
  <div id="menu" class="menu-icon">
    <span></span>
  </div>

  <h1>Fakultatsblog Digitale Medien der Hochschule Furtwangen</h1>

</header>

<!-- Hauptnavigation für Mobile Ansicht-->
<nav class="menu-mobile">
  <f:cObject typoscriptObjectPath="mainmenu" />
</nav>
